@media (min-width: 1000px) {
    /*
     * (What’s happening, Who to follow, Topics to follow) elements in each languages supported by the extension
     */
    [aria-label="Timeline: Trending now"],
    [aria-label="Who to follow"],
    [aria-label="Timeline: Aktuelle Trends"],
    [aria-label="Wem folgen?"],
    [aria-label="الخطّ الزمنيّ: المتداوَل الآن"],
    [aria-label="اقتراحات المتابعة"],
    [aria-label="Oś czasu: Aktualne trendy"],
    [aria-label="Warci obserwowania"],
    [aria-label="Timeline: Assuntos do momento"],
    [aria-label="Quem seguir"],
    [aria-label="タイムライン: トレンド"],
    [aria-label="おすすめユーザー"],
    [aria-label="الخطّ الزمنيّ: "],
    [aria-label="Tidslinje: På uppgång nu"],
    [aria-label="Rekommenderade konton"],
    [aria-label="時間軸：流行趨勢"],
    [aria-label="跟隨誰"],
    [aria-label="Timeline: "] {
        display: none !important;
        background-color: inherit !important;
        border: none !important;
        height: 0 !important;
        width: 0 !important;
    }
}

@media (min-width: 1400px) {
    /* main column, default value is 990px */
    .r-rthrr5 {
        width: 1100px !important;
    }

    /* timeline column, default value is 600px */
    .r-1ye8kvj {
        max-width: 780px !important;
    }

    /* sidebar column, default value is 350px */
    .r-1hycxz {
        max-width: 300px !important;
    }

    /* tweet box */
    .css-1dbjc4n.r-16y2uox.r-1wbh5a2.r-1jgb5lz.r-1ye8kvj.r-13qz1uu {
        max-width: 600px !important;
    }
}

@media (min-width: 1500px) {
    /* main column, default value is 990px */
    .r-rthrr5 {
        width: 1200px !important;
    }

    /* timeline column, default value is 600px */
    .r-1ye8kvj {
        max-width: 830px !important;
    }

    /* sidebar column, default value is 350px */
    .r-1hycxz {
        max-width: 350px !important;
    }

    /* tweet box */
    .css-1dbjc4n.r-16y2uox.r-1wbh5a2.r-1jgb5lz.r-1ye8kvj.r-13qz1uu {
        max-width: 600px !important;
    }
}
