[aria-label="Timeline: Trending now"],
[aria-label="Who to follow"],
[aria-label="الخطّ الزمنيّ: المتداوَل الآن"],
[aria-label="اقتراحات المتابعة"],
[aria-label="Oś czasu: Aktualne trendy"],
[aria-label="Warci obserwowania"],
[aria-label="Timeline: Assuntos do momento"],
[aria-label="Quem seguir"],
[aria-label="タイムライン: トレンド"],
[aria-label="おすすめユーザー"],
div[data-testid="sidebarColumn"] .css-1dbjc4n.r-1uaug3w.r-1uhd6vh.r-1867qdf.r-1phboty.r-rs99b7.r-ku1wi2.r-1bro5k0.r-1udh08x {
    display: none !important;
}
